<div class="editProductModal" ng-show="roomCtrl.editValue" ng-click="roomCtrl.closeProductOperation($event, 'editProductModal')">
  <div class="editProductModalContent">
    <div class="editProductModalContentHeader">Edit room amenity</div>
    <table>
      <tr>
        <td class="editProductModalContentLabel">Name</td>
        <td class="editProductModalContentInput">
          <input type="text" ng-model="roomCtrl.roomName"></input>
        </td>
      </tr>
    </table>
    <div class="editProductModalContentFooter">
      <button class="editProductModalContentFooterSave" ng-click="roomCtrl.approve(roomCtrl.roomName)">Approve</button>
      <button class="editProductModalContentFooterCancel" ng-click="roomCtrl.cancel()">Cancel</button>
    </div>
  </div>
</div>