<div class="assignProductModal" ng-show="levelCtrl.assignValue" ng-click="levelCtrl.closeProductOperation($event, 'assignProductModal')">
  <div class="assignProductModalContent">
    <div class="assignProductModalContentHeader">Assign non-medical Facility</div>
    <table>
      <tr>
        <td class="assignProductModalContentLabel">Name</td>
        <td class="assignProductModalContentInput">
          <input type="text" placeholder="Search by Non Medical Facility Name" ng-model="levelCtrl.nonmedicalName"  uib-typeahead="detail as detail.name for detail in levelCtrl.details | filter:$viewValue | limitTo: 10 | unique:'name'" typeahead-editable="false"/>
        </td>
      </tr>
    </table>
    <div class="assignProductModalContentFooter">
      <button class="assignProductModalContentFooterSave" ng-click="levelCtrl.assignSave(levelCtrl.nonmedicalName)">Save</button>
      <button class="assignProductModalContentFooterCancel" ng-click="levelCtrl.cancel()">Cancel</button>
    </div>
  </div>
</div>