<div class="navigation-main">
  <nav class="box productNavi">  
      <ul class="productNaviList">
      <!-- Speciality -->
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(1)" ng-class="{active:productNavMenuCtrl.isSelected(1)}" ui-sref="product.speciality"><a>Speciality</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(2)" ng-class="{active:productNavMenuCtrl.isSelected(2)}"  ui-sref="product.specialization"><a>Specialization</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(3)" ng-class="{active:productNavMenuCtrl.isSelected(3)}" ui-sref="product.education"><a>Education Degree</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(4)" ng-class="{active:productNavMenuCtrl.isSelected(4)}" ui-sref="product.college"><a>College/Institution</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(5)" ng-class="{active:productNavMenuCtrl.isSelected(5)}" ui-sref="product.level"><a>Surgery Levels</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(6)" ng-class="{active:productNavMenuCtrl.isSelected(6)}" ui-sref="product.surgery"><a>Surgery/Treatment</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(7)" ng-class="{active:productNavMenuCtrl.isSelected(7)}" ui-sref="product.diagnostic"><a>Diagnostic Test</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(8)" ng-class="{active:productNavMenuCtrl.isSelected(8)}" ui-sref="product.medical"><a>Medical Facility</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(9)" ng-class="{active:productNavMenuCtrl.isSelected(9)}" ui-sref="product.nonmedical"><a>Non-medical Facility</a></li>
        <li class="productNaviListField" ng-click="productNavMenuCtrl.selectTab(10)" ng-class="{active:productNavMenuCtrl.isSelected(10)}" ui-sref="product.room"><a>Room Amenities</a></li>
    </ul>
  </nav>
</div>