<div class=" box testing">
  <div class="createNewProduct">
    <button class="createNewProductButton" ng-click="diagnosticCtrl.showProductOperation('create')"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create New</button>
  </div>
  <div>
    <i ng-click="diagnosticCtrl.cancel()" class="fa fa-repeat resetProduct" aria-hidden="true"></i>
  </div>
  <div class="operationOnProduct" ng-mouseover = "message = 'Please select one ID'" ng-mouseout= "message = ''">
    <div class="editProduct">
      <a class={{diagnosticCtrl.operationClass}} ng-click="diagnosticCtrl.showProductOperation('edit'); diagnosticCtrl.editProduct()">Edit</a>
    </div>
    <div ng-if="diagnosticCtrl.checked == false" class="notActiveMessage" ng-show="message != ''">{{message}}</div>
    <div class="assignProduct">
      <a class={{diagnosticCtrl.operationClass}} ng-click="diagnosticCtrl.showProductOperation('assign')">Assign</a>
    </div>
    <div class="deleteProduct">
      <a class={{diagnosticCtrl.operationClass}} ng-click="diagnosticCtrl.showProductOperation('delete'); diagnosticCtrl.deleteProduct()">Delete</a>
    </div>
  </div>
</div>
<div ng-include src="'app/product/diagnostic/create.html'"></div>
<div ng-include src="'app/product/diagnostic/edit.html'"></div>
<div ng-include src="'app/product/diagnostic/assign.html'"></div>
<div ng-include src="'app/product/diagnostic/delete.html'"></div>

